 #oman{
    font-size: 20px;
    color: rgb(18, 19, 20);
}
#social{
    border-radius: 50px;
    
}
 #imgT{
    width:50px;
    height:50px;
    float:center;
    
}
 #imgF {
     width: 50px;
     height: 50px;
     float: center;
 }
  #imgL {
      width: 50px;
      height: 50px;
      float: center;
  }

p{
    font-size: "5px";
    color: aliceblue;
}
